body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex-direction: column;

  min-width: 100vw;
  max-width: 100vw;

  margin-top: 3rem;
}

dl {
  margin: 0;
  padding: 1rem;
}
dl:nth-child(1n) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
dl:nth-child(2n) {
  border-bottom: 1px solid grey;
}
dt {
  font-weight: bold;
  font-size: 0.8rem;
}
dd {
  font-size: 0.7rem;
}
dl > button {
  margin-top: 0.7rem;
}

input {
  width: 50%;
  /* border-radius: 5px; */
  font-size: 0.7rem;
}
input[type="radio"], input[type="date"] {
  width: auto;
}
input[type="file"] {
  display: none;
}
.file_input {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 3rem;
  resize: none;
  font-size: 0.7rem;
}

button, .file_input {
  all: unset;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  background-color: black;
	color: white;
  font-size: 0.8rem;
  font-weight: bold;
	cursor: pointer;
}
button:hover, .file_input:hover {
  background-color: grey;
}

.file_input {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
#download_button {
  position: fixed;
  top: 1rem;
  right: 1rem;
}